lerna-debug.log
**/node_modules
.git
npm-debug.log
yarn-debug.log
**/yarn-error.log
**/.serverless
**/jspm_packages
**/.idea
**/__pycache__
**/.dynamodb
**/.DS_Store

# all logfiles
.flux-dev.*.log
.flux-dev.*.log.previous
tmux*.log

# packages/lib/*.js
packages/lib/**/*.js

packages/api/dist
packages/api/.webpack

# don't include this so ppl can set whatever they like
packages/api/sls-custom.yml

# dev init flag
.dev_app_init_last
.venv
.vscode

.circleci/run_locally.sh

report-*.html
